/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v20-latin-regular.woff2') format('woff2'), 
        url('../fonts/open-sans-v20-latin-regular.woff') format('woff'); 
  }
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v20-latin-700.woff2') format('woff2'), 
        url('../fonts/open-sans-v20-latin-700.woff') format('woff'); 
  }

  /* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'), 
        url('../fonts/raleway-v22-latin-regular.woff') format('woff'); 
  }
  /* raleway-700 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v22-latin-700.woff2') format('woff2'),
        url('../fonts/raleway-v22-latin-700.woff') format('woff'); 
  }


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 1260px;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #1B2330;
}

.container {
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
} 

.header {
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    background: #3cb0b4;
}

.site-header {
    display: flex;
    justify-content: space-between;
}

.site-logo__img path:hover {
    fill: #429c97;
    transition: fill 0.3s linear;
}

.navbar-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar-list__item {
    margin-right: 57px;
}

.navbar-list__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.3s linear;
}

.navbar-list__link:hover {
    color: #429c97;
}

.site-headder__img {
    margin-top: 174px;
    text-align: center;
}

.site-hero {
   text-align: center;
   margin-top: 75px;
}


.site-hero__title {
    width: 734px;
    margin-top: 36px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
}

.site-hero__text {
    width: 589px;
    margin-top: 32px;
    margin-bottom: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
}

.site-hero__link {
    padding: 19px 96px;
    background: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 28px;
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    transition: all 0.4s linear;
}

.site-hero__link:hover {
    background: #0b6965;
}
.site-hero__link:active {
    transform: scale(1.2);
}


/* main */
main {
    background-image: url(../images/main-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-card {
    margin-top: 158px;
    margin-bottom: 136px;
}

.main-card__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 78px;
}

.main-card__item {
    width: 349px;
}

.main-card__img {
    margin-left: 130px;
}

.main-card__list .main-card__img path:hover {
   fill: #093330;
}
.main-card__img rect:hover {
    fill: #093330;
 }

.main-card__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.main-card__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.main__middle-card {
    display: flex;
    align-items: center;
}

.middle-card__content {
    width: 563px;
    margin-left: 57px;
}

.middle-card__content-title {
    width: 496px;
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.middle-card__content-text {
    margin-top: 19px;
    margin-bottom: 24px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.middle-card__content-link {
    text-decoration: none;
    padding-bottom: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #62E0D9;
    transition: color 0.3s ease;
}

.middle-card__content-link:hover {
    color: #06726b;
}

.middle-card__content-link::after {
    display: block;
    content: url(../images/Group10.svg);
    width: 12px;
    height: 12px;
    margin-top: -18px;
    margin-left: 152px;
}

.content-link__hr {
    width: 166px;
    height: 2px;
    margin-left: 0px;
    margin-top: 10px;
    border: none;
    background-color: #62E0D9;
}


/* main__card-bottom */

.main__card-bottom {
    display: flex;
    list-style-type: none;
    margin-top: 179px;
    margin-bottom: 0;
    padding-bottom: 360px;
    position: relative;
}

.main__card-bottom__img {
    width: 70px;
    height: 60px;
    position: absolute;
    left: 30px;
    top: -45px;
}

.card__bottom-item {
    width: 360px;
    margin-right: 40px;
    padding: 40px 26px 26px 26px;
    background: #202A3C;
    box-shadow: 5px 5px 8px rgba(56, 56, 56, 0.0991282);
    border-radius: 3.93258px;
    z-index: 3;
    transition: all 0.4s linear;
}

.card__bottom-item:hover {
    background: #429c97;
    transform: scale(1.1);
}

.item-text {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.item-content {
    display: flex;
    align-items: center;
}

.item-img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.content-name {
    margin-top: 0;
    margin-bottom: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.content-text {
    margin: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 10px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.main__form {
    width: 863px;
    margin: 0 auto;
    padding: 42px 77px;
    text-align: center;
    background: #1B2330;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
    border-radius: 9px;
    position: absolute;
    transform: translateY(-165px) translateX(110px);
}

.main__form-title {
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.main__form-text {
    width: 673px;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 38px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.main__form-input {
    width: 480px;
    margin-right: 29px;
    padding: 17px 208px 15px 38px;
    outline: none;
    border: none;
    background: #FFFFFF;
    box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
    border-radius: 24px;
}

.main__form-btn {
    padding: 15px 27px;
    border: none;
    background: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
    box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
    border-radius: 24px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.4s linear;
}
.main__form-btn:hover {
    background: #0b6965;
}
.main__form-btn:active {
    transform: scale(1.2);
}

/* footer */
.footer {
    background: #0B1524;
    padding-top: 200px;
    padding-bottom: 97px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.footer__content-address {
    width: 379px;
    display: flex;
}

.content-address {
    padding-left: 27px;
    margin-top: -6px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}


.footer__content-tel {
    display: flex;
    align-items: center;    
    text-decoration: none;
    margin-bottom: 19px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    transition: color 0.4s ease;
}
.footer__content-tel:hover {
    color: #429c97;
}

.footer__content-img {
    display: block;
    margin-right: 26px;
}

.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-list__item {
    margin-bottom: 16px;
}



.item-link {
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    transition: color 0.4s ease;
}
.item-link:hover {
    color: #429c97;
}

.footer-list-icon {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-list__link {
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    margin-right: 12px;
    padding: 8px;
    border: 0.918357px solid #DFE4F0;
    border-radius: 50%;
    box-sizing: border-box;
    transition: all 0.4s linear;
}

.footer-list__link:hover {
    background-color: #429c97;
    border: none;
}

.link-icon {
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .navbar-list__link {
        font-size: 30px;
    }
    .site-hero__title {
        font-size: 45px;
    }
    .site-hero__text {
        font-size: 27px;
        line-height: 34px;
    }
    .site-hero__link {
        font-size: 24px;
    }
    .main-card__title {
        font-size: 26px;
    }
    .main-card__text {
        font-size: 20px;
        line-height: 27px;
    }
    .middle-card__content {
        margin-left: 40px;
    }
    .middle-card__content-title {
        font-size: 45px;
    }
    .middle-card__content-text {
        font-size: 24px;
        line-height: 32px;
    }
    .item-text {
        font-size: 18px;
        line-height: 30px;
    }
    .item-img {
        width: 41px;
        height: 41px;
    }
    .content-name {
        font-size: 16px;
        line-height: 20px;
    }
    .content-text {
        font-size: 15px;
        line-height: 20px;
    }
    .main__form-title {
        font-size: 40px;
    }
    .main__form-text {
        font-size: 25px;
        line-height: 30px;
    }
    .content-address {
        font-size: 19px;
        line-height: 27px;
    }
    .footer__content-tel {
        font-size: 18px;
    }
    .item-link {
        font-size: 19px;
    }
    .footer-list__link {
        width: 35px;
        height: 35px;
    }
    .middle-card__content-link {
        font-size: 28px;
    }
    .middle-card__content-link::after {
        width: 30px;
        height: 30px;
        margin-top: -26px;
        margin-left: 269px;
    }
    .content-link__hr {
        width: 283px;
    }
}


@media only screen and (max-width: 425px) {
    .navbar-list__link {
        font-size: 40px;
    } 
    .site-headder__img img {
        width: 820px;
        height: 634px;
    }
    .site-hero__title {
        font-size: 95px;
        line-height: 95px;
        width: 980px;
    }
    .site-hero__text {
        width: 1000px;
        font-size: 44px;
        line-height: 1.5;
        margin-bottom: 78px;
    }
    .site-hero__link {
        font-size: 38px;
        padding: 30px 190px;
    }

    /* main */
    .main-card__list {
        display: block;
    }
    .main-card__item { 
        width: 910px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-card__img {
        margin-left: 44%;
    }
    .main-card__title {
        font-size: 55px;
    }
    .main-card__text {
        font-size: 35px;
        line-height: 54px;
    }
    .main__middle-card {
        display: block;
    }
    .middle-card-img {
        margin-left: 175px;
        width: 835px;
        height: 680px;
    }
    .middle-card__content {
        width: 100%;
    }
    .middle-card__content-title {
        width: 100%;
        font-size: 53px;
        margin-top: 48px;
        margin-left: 30px;
    }
    .middle-card__content-text {
        width: 90%;
        font-size: 45px;
        line-height: 1.5;
        margin-top: 48px;
    }
    .middle-card__content-link {
        font-size: 35px;
    }
    .middle-card__content-link::after {
        width: 30px;
        height: 30px;
        margin-top: -30px;
        margin-left: 328px;
    }
    .content-link__hr {
        width: 340px;
        margin-top: 23px;
    }
    .main__card-bottom {
        display: block;
    }
    .card__bottom-item {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;
        padding: 40px;
    }
    .item-text {
        font-size: 35px;
        line-height: 1.5;
        margin-bottom: 65px;
    }
    .item-img {
        width: 85px;
        height: 85px;
        margin-right: 25px;
    }
    .content-name {
        font-size: 32px;
        margin-bottom: 35px;
    }
    .content-text {
        font-size: 25px;
    }
    
    .main__card-bottom__img {
        left: 140px;
    }
    .main__form {
        margin-left: 35px;
        padding: 45px;
        transform: translateY(-365px) translateX(110px);
    }
    .main__form-title {
        font-size: 50px;
    }
    .main__form-text {
        padding: 0;
        margin: 30px 0;
        font-size: 30px;
        line-height: 1.3;
    }
    .main__form-input {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        font-size: 21px;
    }
    .main__form-btn {
        width: 480px;
        height: 56px;
        font-size: 20px;
    }

    .site-logo {
        margin-left: 50px;
    }
    .footer__content {
        display: block;
        margin-left: 40px;
        margin-top: 55px;
    }
    .footer__content-address {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer__content-address img {
        width: 40px;
        height: 50px;
    }
    .content-address {
        width: 90%;
        font-size: 46px;
        line-height: 1.4;
        padding-left: 68px;
    }
    .footer__content-tel {
        font-size: 40px;
        margin-bottom: 46px
    }
    .footer__content-img {
        width: 40px;
        height: 40px;
        margin-right: 60px;
    }
    .footer-list {
        margin: 100px 0;
    }
    .item-link {
        font-size: 40px;
        line-height: 1.4;
    }
    .footer-list-icon {
        justify-content: center;
    }
    .footer-list__link {
        width: 75px;
        height: 75px;
        margin-right: 30px;
        font-size: 38px;
        justify-content: center;
    }

}

